:root {
  --main-bg-color: #f4f6f8;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 4fr 20fr 1fr;
  grid-template-areas:
    'sidebar header'
    'sidebar main'
    'sidebar footer';
}
